.App {
  text-align: center;
  font-family: emoji;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.welcomeTitle{
    margin-bottom: 45rem;
  
    font-style: italic;
}

.App-link {
  color: #61dafb;
}

.type-2 {
  width: fit-content;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  background-color: #fafafa;
  border:0;
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  transition: .3s box-shadow;
}
.type-2:hover {
  box-shadow:0 0 4px rgba(0,0,0,0.5);
}
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:disabled {
  background: #d6f1d7;
  cursor: no-drop;
}
/* input[type=text]:focus:valid {
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
input[type=text]:focus:invalid {
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
} */

.correctForm{
  background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
  background-size: 25px;
}
.formError{
  background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
  background-size: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clipBoardContainer{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 10px 10px 10px 34px;
  border: 1px #cccccc solid;
  margin-bottom: 10px;
}
.clipBoardContainer:hover{
 background-color: #4CAF50;
}


.clipLogo{
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: 15rem;
  opacity: 0;
}

.clipBoardContainer:hover .clipLogo{
  opacity: 1;
  }

  div.clipBoardContainer:active{
    background-color: #e8f3e8
  }